{
  "processors": ["stylelint-processor-html"],
  "extends": "stylelint-config-standard",
  "rules": {
      "indentation": 4,
      "no-empty-source": null,
      "selector-class-pattern": "^[a-z]+[a-z\\d/-]*[a-z\\d]$",
      "selector-id-pattern": "^[a-zA-Z\\d]+$",
      "max-nesting-depth": 3,
      "string-quotes": "single",
      "function-url-quotes": "always",
      "selector-list-comma-newline-after": "never-multi-line"
  }
}